@font-face {
  font-family: 'Barlow';
  src: url("../fonts/Barlow-Bold.woff2") format("woff2"), url("../fonts/Barlow-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fraunces';
  src: url("../fonts/Fraunces-Bold.woff2") format("woff2"), url("../fonts/Fraunces-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow';
  src: url("../fonts/Barlow-Regular.woff2") format("woff2"), url("../fonts/Barlow-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #F2F2F2;
  font-family: "Barlow";
  font-size: 16px;
  line-height: 1.5;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.img {
  vertical-align: middle;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  height: auto;
}

.a {
  text-decoration: none;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.container {
  width: 1320px;
  margin: 0 auto;
  padding: o 20px;
}

.header {
  padding: 44px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.header__logo {
  display: block;
}

.logo__img {
  margin-left: 0;
  margin-right: 730px;
}

.nav {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__nav-item {
  margin-right: 33px;
}

.nav__nav-item:last-child {
  margin-right: 0;
}

.nav__nav-link {
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-decoration: none;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888F;
}

.intro__container {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/Coffee-header.png);
  width: 1280px;
  height: 600px;
  background-color: #A2A2A2;
  border-radius: 10px;
  margin-bottom: 136px;
  padding-top: 117px;
  padding-bottom: 118px;
  padding-left: 85px;
}

.intro__title {
  margin-top: 0;
  font-family: "Fraunces", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FEFCF7;
  margin-right: 702px;
}

.intro__discription {
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  opacity: 0.8;
  margin-top: 32px;
  margin-right: 750px;
  margin-bottom: 56px;
}

.header__plan {
  text-decoration: none;
  font-family: "Fraunces", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #FEFCF7;
  padding: 15px 31px;
  background-color: #0E8784;
  border-radius: 6px;
}

.service__company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #2C343E;
  width: 1280px;
}

.service__container::before {
  margin: 0 auto;
  padding: 0;
  background-image: url(../images/our-services-background-1280x577.png);
  background-position: center;
  background-repeat: no-repeat;
}

.service__company-title {
  font-family: "Fraunces" , serif;
  font-weight: 900;
  line-height: 48px;
  margin-bottom: 32px;
  padding-top: 112px;
  font-size: 40px;
  text-align: center;
  color: #FEFCF7;
}

.service__company-description {
  width: 540px;
  padding-bottom: 86px;
  margin: 0 auto;
  text-align: center;
  color: #FEFCF7;
}

.service__company-list {
  margin: 0;
  padding: 0;
}

.service__company-item {
  margin: 30px;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 350px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  background-color: #0E8784;
}

.service__description {
  color: #FEFCF7;
  width: 255px;
}

.footer {
  background: #2C343E;
  padding: 44px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.logo__img {
  display: block;
}

.logo__img {
  margin-left: 0;
  margin-right: 730px;
}

.nav {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__nav-item {
  margin-right: 33px;
}

.nav__nav-item:last-child {
  margin-right: 0;
}

.nav__nav-link {
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-decoration: none;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888F;
}
/*# sourceMappingURL=main.css.map */