*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    @include reset-m-p;
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    font-family: "Barlow";
    font-size: 16px;
    line-height: 1.5;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

.img {
    max-width: 100%;
    height: auto;
}

.a {
    text-decoration: none;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.container {
    width: 1280px;
    margin: 0 auto;
}