.services__container {
    @include flex;
}


.services__title {
    @include reset-m-p;
}


.services__collection {
    @include reset-m-p;
}


.collection__list {
    @include reset-m-p;
}


.collection__item {
    list-style: none;
}


.collection__item-img {

}


.collection__title {
    width: 255px;
    height: 32px;
}


.collection__description {
    width: 255px;
    height: 78px;
}